{% load static %}{% load scrapernames %}{% scraper_names as SCRAPER_NAMES %}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}YADG</title>
    <meta charset="utf-8">
    <meta name="description" content="Extract release information from {% for scraper_name in SCRAPER_NAMES %}{{ scraper_name }}{% if forloop.counter < SCRAPER_NAMES|length|add:"-1" %}, {% else %}{% if forloop.counter == SCRAPER_NAMES|length|add:"-1" %} or {% endif %}{% endif %}{% empty %}nowhere right now{% endfor %} and create a nice description from it." />
    <meta name="keywords" content="description, generator{% if not SCRAPER_NAMES|length_is:"0" %}, {% endif %}{% for scraper_name in SCRAPER_NAMES %}{{ scraper_name|lower }}{% if not forloop.last %}, {% endif %}{% endfor %}" />
    <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <style>
      ul#release_list li {
        margin-bottom: .9em;
      }

      #description_area {
        width: 100%;
        height: 500px;
      }

      #result_permalink_input {
        width: 100%;
      }

      .center {
        display: block;
        text-align: center;
        margin: 20px auto;
      }

      html.jquery-js-enabled button#format_submit {
        display: none !important;
      }

      .auto_width {
        width: auto;
      }

      .input-xhlarge{
        width: 400px;
      }

      .input-automax {
        width: auto;
        max-width: 100%;
      }

      .clear {
        clear: both;
      }
    </style>

    <script src="{% static "js/jquery-1.8.0.min.js" %}"></script>
    <script src="{% static "js/bootstrap-tooltip.min.js" %}"></script>
    <script src="{% static "js/bootstrap-dropdown.min.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('html').addClass('jquery-js-enabled');

            $('#id_template').change(function(e) {
                e.preventDefault();
                $('#format_form').submit();
            });

            $('.yadg_tooltip').tooltip();
        });
    </script>

    {% block additionalHeaders %}{% endblock %}
</head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{% url 'index' %}" title="Yet Another Description Generator">YADG</a>
          <ul class="nav">
            <li{% block home_li_tags %} class="active"{% endblock %}><a href="{% url 'index' %}">Home</a></li>
            <li{% block scrapers_li_tags %}{% endblock %}><a href="{% url 'scrapers_overview' %}">Available Scrapers</a></li>
            {% if user.is_authenticated %}<li{% block userlist_li_tags %}{% endblock %}><a href="{% url 'user_list' %}">Users</a></li>
            <li{% block scratchpad_li_tags %}{% endblock %}><a href="{% url 'scratchpad_index' %}">Scratchpad</a></li>{% endif %}
            <li><a href="{% url 'api_root' %}">API</a></li>
            <li{% block contact_li_tags %}{% endblock %}><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
          <ul class="nav pull-right">
              {% if user.is_authenticated %}
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li{% block userpage_li_tags %}{% endblock %}><a href="{% url 'user_detail' user.pk %}">My user page</a></li>
                    <li{% block templatelist_li_tags %}{% endblock %}><a href="{% url 'template_list' %}">My templates</a></li>
                    <li{% block subscriptions_li_tags %}{% endblock %}><a href="{% url 'subscriptions' %}">My subscriptions</a></li>
                    <li class="divider"></li>
                    <li{% block passwordchange_li_tags %}{% endblock %}><a href="{% url 'password_change' %}">Change password</a></li>
                    <li{% block settings_li_tags %}{% endblock %}><a href="{% url 'settings' %}">Settings</a></li>
                </ul>
              </li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
              {% else %}
                  <li{% block register_li_tags %}{% endblock %}><a href="{% url 'register' %}">Register</a></li>
                  <li{% block login_li_tags %}{% endblock %}><a href="{% url 'login' %}">Login</a></li>
              {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <noscript><div class="alert alert-warning"><strong>Heads up!</strong> Javascript seems to be disabled for this website. This website makes heavy use of javascript and will not work correctly without it.</div></noscript>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
